.img-hover {
    position: relative;
    overflow: hidden;
}

.img-hover img {
    transition: transform 0.3s ease;
}

.img-hover:hover img {
    transform: scale(1.1);
}

.nav-link .bi-bell {
    color: black; /* Warna ikon ketika belum dibaca */
}

.nav-link .bi-bell.unread {
    color: red; /* Warna ikon ketika belum dibaca */
}
